main{
    margin: 0%;
    padding: 0%;
    padding-bottom: 2rem;
    .nav-alternative-container{
        border-top: 1px #000000 solid;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        height: auto ;
        padding: 2rem 0 2rem 0;
        .nav-alternative{
            display: flex;
            justify-content: center;
            height: auto;
            width: 30%;
            .nav-alternative-a{
                display: flex;
                @include center;
            }
            .nav-alternative-img{
                transition: .5s;
                width: 45%;
            }
        .nav-alternative-img:hover{
          transform: scale(1.2, 1.2);
            }
        }
    }
    .heading-alternative{
        @include flex-row;  
        @include center;
        img{
            max-width: 5rem;
            padding-right: 1rem;  
        }
    }
    .trending{
        @include flex-row;
        justify-content: center;
        flex-wrap: wrap;
        .product-container{
            margin: 1rem;
        }
    }
}

