@media(width >1024px){
    /*desktop*/
    main .products .filtros-container .navbar{
        display: none;
    }
    header .top-header .navbar-1 .container{
        display: none;
    }
}
@media (width <= 1024px){
    /*Tablet*/
    main .filtros{
        display: none;
    }
    main .center-h{
        padding: 2rem;
    }
    main .heading-alternative img{
        display: none;
    }
}
@media (width <=480px){
    main{
        background-color: beige;
    }
    header .top-header
        {
            .nombre-empresa .logo{
                display: none;
        }
        .navbar-1 .container-fluid{
            display: none;
        }
    }
    footer .main-footer{
        flex-direction: column-reverse;
        .left-content{
            flex-flow: row;
        }
        .right-content{
            align-items: flex-start;
        }
    }
    main .carousel-container{
        padding: 0rem;
        width: 100%;
        height: auto;
    }
    main .nav-alternative-container{
        display: flex;
        .nav-alternative{
           @include flex-column;
            width: 45%;
            a {
                width: 100%;
               
                .nav-alternative-img{
                    width: auto;
                }
             }   
        }
    }
    main .products{
        @include flex-column;
        align-items: center;
        .filtros-container{
            width: 100%;
            display: flex;
            justify-content: center;
            .navbar{
                width: 60%;
            }
        }
    }
    main .center-h .heading{
        font-size: 1.5rem;
    }
    main .explain-container{
        @include flex-column;
        text-align: justify;
        .img-container{
            display: flex;
            @include center;
            img{
                width: 90%;
            }
        }
    }
    main .events-container{
        flex-wrap: wrap;
        .event{
            width: 100%;
            padding: 2rem 2rem;
        }
    }
}