.product-container{
    border: 1px black solid;
    padding: 1rem;
    display: flex;
    display: inline-block;
    flex-direction: row;
    margin: 1rem;
    .product-image{
        justify-content: center;
        max-width: 250px;
    }
    .product-text{
        justify-content: left;
        display: flex;
        flex-direction: row;
    }
    .product-link{
        justify-content: end;
        display: flex;
        flex-direction: row;
    }
}
