.product-container{
    border: 1px black solid;
    padding: 1rem;
    @include flex-column;
    display: inline-block;
    margin: 1rem;
    .product-image{
        justify-content: center;
        max-width: 250px;
    }
    .product-text{
        justify-content: left;
        @include flex-column;
    }
    .product-link{
        justify-content: end;
        @include flex-column;
    }
}
